@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

/* --- Debugging --- */

/*
* {
  border: 1px solid black;
}
*/

/* --- Main --- */

html, body {
  position: relative;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  /*background-color: #e1e7f2;*/
  /*background-color: #f2f6ff;*/
}

#main {
  margin: 0px;
  margin-top: 50px;
  padding: 0px;
}

#content-container-center {
  text-align: center;
  margin: 0px;
  padding: 0px 15px 15px 15px; /* top right bottom left */
}

#content-container {
  margin: 0px;
  padding: 0px 15px 15px 15px;
}

.title {
  font-weight: 400;
  width: 100%;
  background-color: #bbb;
  padding: 30px 0px;
  text-align: center;
  margin: 0px;
}

.subtitle {
  font-weight: 300;
  /* background-color: #3b79dd; */
  background-color: #254882;
  padding: 15px;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  margin: 20px 0px;
}

.title-simple {
  text-align: center;
  font-weight: 400;
}

.subtitle-simple {
  text-align: center;
  font-weight: 300;
}

.center-align {
  margin: auto;
  display: block;
}

/* --- Navbar --- */

nav {
  background-color: #555555;
  position: fixed;
  width: 100%;
  z-index: 1;  
  top: 0px;
}

nav ul {
  padding-left: 0px; /* Justify to the left of the navbar */
  display: inline;
  line-height: 50px;
}

nav li {
  display: inline-block;
  position: relative;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 8px 18px;
  font-weight: 400;
}

nav a:hover {
  color: #8e8e8e;
}

/* --- Unit List --- */

#unit-table, #unit-table th, #unit-table td {
  border-collapse: collapse;
  text-align: left;
  padding: 15px;
  /* border: 3px solid #aaa; */
}

#unit-table {
  margin: 50px auto;
}

#unit-table th {
  font-weight: 400;
  background-color: #4CAF50;
  color: #fff;
}

#unit-table td {
  background-color: #ddd;
}

/* --- Data Table --- */

#data-table, #data-table th, #data-table td {
  border-collapse: collapse;
  text-align: left;
  border: 1px solid #ddd;
}

#data-table {
  margin: auto;
}

#data-table th {
  font-weight: 400;
  background-color: #4CAF50;
  color: #ffffff;
  padding: 5px;
}

#data-table td {
  padding: 0px 10px;
}

#data-table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

/* --- Graphs --- */

.data-graph {
  display: inline-block;
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 650px;
  height: 450px;
  border: 1px solid black;
}
